In [1]:
# dependencies
from bs4 import BeautifulSoup
import requests
import pandas as pd
from config import password

# Population Data for US States
Table taken from Wikipedia, "List of states and territories of the United States": https://en.wikipedia.org/wiki/List_of_states_and_territories_of_the_United_States

In [2]:
# scrape url
url = "https://en.wikipedia.org/wiki/List_of_states_and_territories_of_the_United_States"

In [3]:
response = requests.get(url)

In [4]:
soup = BeautifulSoup(response.text, "html.parser")

In [20]:
# narrowing down the list of tables to the one I'm after
results = soup.find_all("table", class_="wikitable")
results.__len__()

5

In [21]:
# printing the title to find the index I need
for result in results:
    print(result.find("caption").text)

States of the United States of America

Federal district of the United States

Inhabited territories of the United States

Territories of the United States with no indigenous population

Territories claimed but not administered by the United States

In [46]:
# it's the first one
table = results[0]

In [56]:
# break it down
rows = table.find_all("tr")

In [70]:
# search each row for the elements for state abbreviation and population
# state had \n that needed removing
# population was string with commas, remove them and convert to int
statelist = []
poplist = []

for row in rows:
    try:
        state = row.find("td").text.strip()
        pop = int(row.find("div").text.replace(",",""))
        print(state)
        print(pop)

        if (state and pop):
            statelist.append(state)
            poplist.append(pop)

    except AttributeError as e:
        print(e)

'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
AL
5024279
AK
733391
AZ
7151502
AR
3011524
CA
39538223
CO
5773714
CT
3605944
DE
989948
FL
21538187
GA
10711908
HI
1455271
ID
1839106
IL
12812508
IN
6785528
IA
3190369
KS
2937880
KY
4505836
LA
4657757
ME
1362359
MD
6177224
MA
7029917
MI
10077331
MN
5706494
MS
2961279
MO
6154913
MT
1084225
NE
1961504
NV
3104614
NH
1377529
NJ
9288994
NM
2117522
NY
20201249
NC
10439388
ND
779094
OH
11799448
OK
3959353
OR
4237256
PA
13002700
RI
1097379
SC
5118425
SD
886667
TN
6910840
TX
29145505
UT
3271616
VT
643077
VA
8631393
WA
7705281
WV
1793716
WI
5893718
WY
576851

In [84]:
# create df and set index
pop_df = pd.DataFrame({
    "state": statelist,
    "population": poplist
})

pop_df.set_index("state", inplace=True)
pop_df.head()

       population
state
AL        5024279
AK         733391
AZ        7151502
AR        3011524
CA       39538223

# Covid Statistics
Looking at covid data on US Election Day (3 November 2020).

Data taken from Kaggle set "COVID-19 in USA" by SRK, file "us_states_covid19_daily.csv"

https://www.kaggle.com/sudalairajkumar/covid19-in-usa

In [77]:
# read in covid csv
covid_file = "Resources/us_states_covid19_daily.csv"
covid_df = pd.read_csv(covid_file)
covid_df.head()

,date,state,positive,probableCases,negative,pending,totalTestResultsSource,totalTestResults,hospitalizedCurrently,hospitalizedCumulative,...,posNeg,deathIncrease,hospitalizedIncrease,hash,commercialScore,negativeRegularScore,negativeScore,positiveScore,score,grade
0,20201206,AK,35720.0,NaN,1042056.0,NaN,totalTestsViral,1077776.0,164.0,799.0,...,1077776,0,0,7b1d31e2756687bb9259b29195f1db6cdb321ea6,0,0,0,0,0,NaN
1,20201206,AL,269877.0,45962.0,1421126.0,NaN,totalTestsPeopleViral,1645041.0,1927.0,26331.0,...,1691003,12,0,19454ed8fe28fc0a7948fc0771b2f3c846c1c92e,0,0,0,0,0,NaN
2,20201206,AR,170924.0,22753.0,1614979.0,NaN,totalTestsViral,1763150.0,1076.0,9401.0,...,1785903,40,21,25fc83bffff5b32ba1a737be8e087fad9f4fde33,0,0,0,0,0,NaN
3,20201206,AS,0.0,NaN,2140.0,NaN,totalTestsViral,2140.0,NaN,NaN,...,2140,0,0,8c39eec317586b0c34fc2903e6a3891ecb00469e,0,0,0,0,0,NaN
4,20201206,AZ,364276.0,12590.0,2018813.0,NaN,totalTestsPeopleViral,2370499.0,2977.0,28248.0,...,2383089,25,242,7cf59da9e4bc31d905e179211313d08879880a85,0,0,0,0,0,NaN

In [101]:
# filter date to required (20201103)
date_df = covid_df.loc[covid_df["date"] == 20201103]
date_df.head()

,date,state,positive,probableCases,negative,pending,totalTestResultsSource,totalTestResults,hospitalizedCurrently,hospitalizedCumulative,...,posNeg,deathIncrease,hospitalizedIncrease,hash,commercialScore,negativeRegularScore,negativeScore,positiveScore,score,grade
1848,20201103,AK,16390.0,NaN,608365.0,NaN,totalTestsViral,624755.0,97.0,472.0,...,624755,0,2,a5bc83a2144665c5af0356c038e537bd58e3785f,0,0,0,0,0,NaN
1849,20201103,AL,195929.0,29302.0,1196422.0,NaN,totalTestsPeopleViral,1363049.0,1022.0,20901.0,...,1392351,14,451,74524f040260ad92564fd2219c9edb5fd6576fe0,0,0,0,0,0,NaN
1850,20201103,AR,114519.0,9296.0,1263662.0,NaN,totalTestsViral,1368885.0,652.0,7194.0,...,1378181,18,84,fe89ba285d4babee99a637d1d0885bf35c5792be,0,0,0,0,0,NaN
1851,20201103,AS,0.0,NaN,1768.0,NaN,totalTestsViral,1768.0,NaN,NaN,...,1768,0,0,7640aa82eb3602c10117b432fba0aed492295932,0,0,0,0,0,NaN
1852,20201103,AZ,249818.0,6036.0,1559453.0,NaN,totalTestsPeopleViral,1803235.0,956.0,21626.0,...,1809271,38,53,aff59f7b7e0e9660b8fe9ae2b60e6f888175f2e9,0,0,0,0,0,NaN

In [96]:
# drop territories (non-states) from df
drop_list = ["AS", "DC", "GU", "MP", "PR", "VI"]

for place in drop_list:
    date_df = date_df.loc[covid_df["state"] != place]

date_df.head()

,date,state,positive,probableCases,negative,pending,totalTestResultsSource,totalTestResults,hospitalizedCurrently,hospitalizedCumulative,...,posNeg,deathIncrease,hospitalizedIncrease,hash,commercialScore,negativeRegularScore,negativeScore,positiveScore,score,grade
1848,20201103,AK,16390.0,NaN,608365.0,NaN,totalTestsViral,624755.0,97.0,472.0,...,624755,0,2,a5bc83a2144665c5af0356c038e537bd58e3785f,0,0,0,0,0,NaN
1849,20201103,AL,195929.0,29302.0,1196422.0,NaN,totalTestsPeopleViral,1363049.0,1022.0,20901.0,...,1392351,14,451,74524f040260ad92564fd2219c9edb5fd6576fe0,0,0,0,0,0,NaN
1850,20201103,AR,114519.0,9296.0,1263662.0,NaN,totalTestsViral,1368885.0,652.0,7194.0,...,1378181,18,84,fe89ba285d4babee99a637d1d0885bf35c5792be,0,0,0,0,0,NaN
1852,20201103,AZ,249818.0,6036.0,1559453.0,NaN,totalTestsPeopleViral,1803235.0,956.0,21626.0,...,1809271,38,53,aff59f7b7e0e9660b8fe9ae2b60e6f888175f2e9,0,0,0,0,0,NaN
1853,20201103,CA,934672.0,NaN,18140249.0,NaN,totalTestsViral,19074921.0,3270.0,NaN,...,19074921,14,0,22da686fb5260f46b3fa41fcce00eb6df6306c3a,0,0,0,0,0,NaN

In [100]:
# only want state, positive, and death
covid_cols = ["state", "positive", "death"]
covid_transformed = date_df[covid_cols].copy()

# set index to state
covid_transformed.set_index("state", inplace=True)

covid_transformed.head()

       positive    death
state
AK      16390.0     84.0
AL     195929.0   2987.0
AR     114519.0   2003.0
AZ     249818.0   6020.0
CA     934672.0  17686.0

# Election Results
Combining county data to reveal the winner of each state.

Data taken from Kaggle set "US Elections Dataset" by Bojan Tunguz, file "1976-2020-president.csv"

https://www.kaggle.com/tunguz/us-elections-dataset

In [102]:
# read in csv
election_file = "Resources/1976-2020-president.csv"
election_df = pd.read_csv(election_file)
election_df.head()

,year,state,state_po,state_fips,state_cen,state_ic,office,candidate,party_detailed,writein,candidatevotes,totalvotes,version,notes,party_simplified
0,1976,ALABAMA,AL,1,63,41,US PRESIDENT,"CARTER, JIMMY",DEMOCRAT,False,659170,1182850,20210113,NaN,DEMOCRAT
1,1976,ALABAMA,AL,1,63,41,US PRESIDENT,"FORD, GERALD",REPUBLICAN,False,504070,1182850,20210113,NaN,REPUBLICAN
2,1976,ALABAMA,AL,1,63,41,US PRESIDENT,"MADDOX, LESTER",AMERICAN INDEPENDENT PARTY,False,9198,1182850,20210113,NaN,OTHER
3,1976,ALABAMA,AL,1,63,41,US PRESIDENT,"BUBAR, BENJAMIN """"BEN""""",PROHIBITION,False,6669,1182850,20210113,NaN,OTHER
4,1976,ALABAMA,AL,1,63,41,US PRESIDENT,"HALL, GUS",COMMUNIST PARTY USE,False,1954,1182850,20210113,NaN,OTHER

In [103]:
# filter for year
recent_election_df = election_df.loc[election_df["year"] == 2020]
recent_election_df.head()

,year,state,state_po,state_fips,state_cen,state_ic,office,candidate,party_detailed,writein,candidatevotes,totalvotes,version,notes,party_simplified
3740,2020,ALABAMA,AL,1,63,41,US PRESIDENT,"BIDEN, JOSEPH R. JR",DEMOCRAT,False,849624,2323282,20210113,NaN,DEMOCRAT
3741,2020,ALABAMA,AL,1,63,41,US PRESIDENT,"TRUMP, DONALD J.",REPUBLICAN,False,1441170,2323282,20210113,NaN,REPUBLICAN
3742,2020,ALABAMA,AL,1,63,41,US PRESIDENT,"JORGENSEN, JO",LIBERTARIAN,False,25176,2323282,20210113,NaN,LIBERTARIAN
3743,2020,ALABAMA,AL,1,63,41,US PRESIDENT,NaN,NaN,True,7312,2323282,20210113,NaN,OTHER
3744,2020,ALASKA,AK,2,94,81,US PRESIDENT,"BIDEN, JOSEPH R. JR",DEMOCRAT,False,153778,359530,20210113,NaN,DEMOCRAT

In [108]:
# filter to get the candidate with the highest votes per state, then sort back by state for consistency
party_df = recent_election_df.sort_values("candidatevotes", ascending=False).drop_duplicates(["state"])
party_df = party_df.sort_values("state")
party_df.head()

,year,state,state_po,state_fips,state_cen,state_ic,office,candidate,party_detailed,writein,candidatevotes,totalvotes,version,notes,party_simplified
3741,2020,ALABAMA,AL,1,63,41,US PRESIDENT,"TRUMP, DONALD J.",REPUBLICAN,False,1441170,2323282,20210113,NaN,REPUBLICAN
3745,2020,ALASKA,AK,2,94,81,US PRESIDENT,"TRUMP, DONALD J.",REPUBLICAN,False,189951,359530,20210113,NaN,REPUBLICAN
3752,2020,ARIZONA,AZ,4,86,61,US PRESIDENT,"BIDEN, JOSEPH R. JR",DEMOCRAT,False,1672143,3387326,20210113,NaN,DEMOCRAT
3771,2020,ARKANSAS,AR,5,71,42,US PRESIDENT,"TRUMP, DONALD J.",REPUBLICAN,False,760647,1219069,20210113,NaN,REPUBLICAN
3773,2020,CALIFORNIA,CA,6,93,71,US PRESIDENT,"BIDEN, JOSEPH R. JR",DEMOCRAT,False,11110250,17500881,20210113,NaN,DEMOCRAT

In [110]:
# realise I need to drop DC from this set
party_df = party_df.loc[party_df["state_po"] != "DC"]
# party_df.info()

In [111]:
# filter df for state_po (renaming to state), candidate, party, candidate votes, and total votes. set index to state
party_cols = ["state_po", "candidate", "party_detailed", "candidatevotes", "totalvotes"]
party_transformed = party_df[party_cols].copy()

party_transformed = party_transformed.rename(columns={"state_po": "state"})

party_transformed.set_index("state", inplace=True)

party_transformed.head()

                 candidate party_detailed  candidatevotes  totalvotes
state
AL        TRUMP, DONALD J.     REPUBLICAN         1441170     2323282
AK        TRUMP, DONALD J.     REPUBLICAN          189951      359530
AZ     BIDEN, JOSEPH R. JR       DEMOCRAT         1672143     3387326
AR        TRUMP, DONALD J.     REPUBLICAN          760647     1219069
CA     BIDEN, JOSEPH R. JR       DEMOCRAT        11110250    17500881

# Put it all together
Connecting to database and loading dataframes

In [ ]:
connection_string